h1, h2, h3, h4, h5 {
  color: $color-gray-medium;
  font-weight: $font-weight-bold;
}

.button {
  text-transform: uppercase;
  border-radius: 0;
  font-weight: $font-weight-bold;
  padding: 1.5em;
  &.is-primary {
    background-color: $color-pink;
    color: $color-blue;
    font-family: $font-weight-extrabold;
    &:hover, &:active {
      background-color: $color-blue;
      color: $color-pink
    }
  }
}