$color-white: #FFFFFF;
$color-cream: #FFFEFA;
$color-gray-light: #979797;
$color-gray-medium: #666666;
$color-black: #2F2F2F;
$color-pink: #F9D2EA;
$color-pink-warm: #F8C1CD;
$color-pink-light: #FFEFF9;
$color-blue: #0402FF;

$family-sans-serif: "open sans", "Lucida Grande", Verdana, Arial, sans-serif;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
