@import 'bulma-0.8.2/sass/utilities/_all.sass';
@import 'bulma-0.8.2/sass/components/_all.sass';
@import 'bulma-0.8.2/sass/elements/_all.sass';
@import 'bulma-0.8.2/sass/form/_all.sass';
@import 'bulma-0.8.2/sass/base/_all.sass';
@import 'bulma-0.8.2/sass/grid/_all.sass';
@import 'bulma-0.8.2/sass/layout/_all.sass';
@import 'variables';
@import 'fonts';
@import 'elements';

::selection {
  background: $color-pink-light; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $color-pink-light; /* Gecko Browsers */
}

body {
  font-family: $family-sans-serif !important;
  background: $color-cream;
  @include tablet {
    font-size: $size-5;
  }
  @include mobile {
    font-size: $size-6;
  }
}

.navbar {
  border-bottom: 1px solid $color-gray-light;
  margin: 0 auto;
  max-width: $desktop;
  @include from($desktop) {
    border-left: 1px solid $color-gray-light;
    border-right: 1px solid $color-gray-light;
  }
  @include until($tablet) {
    background-color: $color-cream;
  }
  .navbar-item {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.main-container {
  height: 100%;
  padding-top: 4.35em;
  background-color: $color-white;
  max-width: $desktop;
  @include from($desktop) {
    border-left: 1px solid $color-gray-light;
    border-right: 1px solid $color-gray-light;
  }
  @include until($tablet) {
    background-color: $color-cream;
  }
}

.hero-body {
  .subtitle-container {
    color: $color-gray-light;
    letter-spacing: 0.03em;
    position: relative;
    z-index: 10;
    border-top: 2px solid $color-gray-light;
    border-bottom: 2px solid $color-gray-light;
    padding: 1.3em;
    margin-top: 3em;
    margin-bottom: 2em;
    // just some double border ridiculousness
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 3px;
      left: 0;
      right: 0;
      bottom: 3px;
      border-top: 2px solid $color-gray-light;
      border-bottom: 2px solid $color-gray-light;
    }
  }
}

.about-section {
  padding-top: 3em;

  hr {
    margin-bottom: 3em;
    background-color: $color-gray-light;
  }
}