{% load static %}{% load pipeline %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="{% static "img/title-one-line.svg" %}" width="300">
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item">
                Write
            </a>
            <a class="navbar-item">
                Read
            </a>
            <a class="navbar-item">
                About
            </a>
        </div>
    </div>
</nav>
