{% extends "index.html" %}
{% block content %}
    <div class="columns is-centered is-mobile">
        <div class="column is-half-tablet is-three-fifths-mobile">
            <h4>
                {{ poem.title }}
            </h4>
            <hr>

            {% for verse in poem.poem_verses.all %}
                <p>
                    {{ verse.text }}
                </p>
            {% endfor %}
            <a href="{% url "contribute" poem.id %}">Contribute a line to this poem</a> (obviously this is just for
            testing
            because
            they wouldn't be able to see the whole poem unless it was unraveled.)
        </div>
    </div>
{% endblock %}